extends layout.pug

block content
    main#app 
block footer_scripts 
      link(rel="stylesheet" href="/stylesheets/builder_style.css")
      script(src="/javascripts/builder_ui.js" type="text/javascript" )  
