doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    
  body
    button#get-polled-button "Click here to get polled"
    script(src="/javascripts/index.js" type="text/javascript")      
       
        
    
