doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/javascripts/js.cookie.js" type="text/javascript" )  
    

  body
    block content
    script(src="/javascripts/ws.js" type="text/javascript")
    block footer_scripts
