doctype html
html
  head
    var id = #{session_id}
    title="View Page"
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    main(session-id=id)
      
      
  script(src="/javascripts/view.js" type="text/javascript" )
