.ongoing-list {
  width: 320px;
  max-width: 100%;
  display: inline-block;
  vertical-align: top;
  overflow: auto;
  border: 1px solid rgba(#000, 0.12);
}

.dialog-content {
  padding: 10px;
}

.main-title {
  text-align: center;
  font-size: 70px;
  font-family: Roboto, Noto Sans, -apple-system, BlinkMacSystemFont, sans-serif;
  color: #6e7ebb;
}

body {
  display: inline;
}

.app-container {
  display: contents;
}
