html,
body {
  height: 100%;
  margin: 0;
}

.app-container {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.static-flex-item {
  flex: 0 1;
}

.filling-flex-item {
  flex: 2 1;
}

.vote-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

.poll-button {
  margin-left: 0px;
}
