body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #35A0A4;
  background: -moz-linear-gradient(left, #35A0A4 0%, #2388CB 1%, #755A72 100%);
  background: -webkit-linear-gradient(left, #35A0A4 0%, #2388CB 1%, #755A72 100%);
  background: linear-gradient(to right, #35A0A4 0%, #2388CB 1%, #755A72 100%);
}

a {
  color: #00B7FF;
}

.poll-title{
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 50px;
  letter-spacing: 0.4px;
  word-spacing: 0.2px;
  color: #000000;
  font-weight: 400;
text-decoration: none;
font-style: normal;
font-variant: normal;
text-transform: none;

}

.poll-container{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.poll-option{
  font-family: Georgia, serif;
font-size: 25px;
letter-spacing: -0.2px;
word-spacing: 0px;
color: #000000;
font-weight: normal;
text-decoration: none;
font-style: normal;
font-variant: normal;
text-transform: none;
}

.poll-bar{
  height: 50px;
  -webkit-box-shadow: 12px 12px 23px 6px rgba(0,0,0,0.86);
  box-shadow: 12px 12px 23px 6px rgba(0,0,0,0.86);
  border: 5px groove #47797F;
}

.options-contanier{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}



.option-button {
color: rgb(143, 165, 198);
 font-size: 21px;
 line-height: 21px;
 padding: 13px;
  border-radius: 12px;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
     font-variant: normal;
      text-transform: none;
       background-image: linear-gradient(to right, rgb(28, 110, 164) 0%, rgb(35, 136, 203) 50%, rgb(20, 78, 117) 100%);
     box-shadow: rgba(0, 0, 0, 0.86) 12px 12px 23px 6px; border: 5px groove rgb(71, 121, 127); display: inline-block;
}
.option-button:hover {
background: #1C6EA4; }
.option-button:active {
background: #144E75; }
